.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1vw;
  height: 80px; }
  .main .logo {
    margin: 0; }
  .main .top-navigation {
    list-style-type: none;
    padding-left: 3vw;
    height: 100%;
    width: 100%;
    /*NON DROPDOWN SECTION*/ }
    .main .top-navigation .menu {
      margin: 0;
      height: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      /*DROPDOWN SECTION*/ }
      .main .top-navigation .menu .menu-item-type-custom {
        height: inherit;
        text-decoration: none; }
        .main .top-navigation .menu .menu-item-type-custom a {
          padding: 0 2vw;
          display: flex;
          align-items: center;
          height: 100%; }
          .main .top-navigation .menu .menu-item-type-custom a:hover {
            background: #D8D8AD; }

@media (min-width: 1024px) {
  .main .mobile-menu-call {
    display: none; }
  .main .top-navigation .menu .menu-item {
    position: relative;
    cursor: pointer;
    padding: 0; }
    .main .top-navigation .menu .menu-item a {
      padding: 0 2vw; }
    .main .top-navigation .menu .menu-item .sub-menu {
      display: none; }
  .main .top-navigation .menu .menu-item-has-children a::after {
    content: '\02C5';
    margin-left: 6px; }
  .main .top-navigation .menu .menu-item-has-children:hover .sub-menu, .main .top-navigation .menu .menu-item-has-children:focus-within .sub-menu {
    z-index: 2;
    position: absolute;
    left: 0;
    display: block;
    visibility: visible;
    opacity: 1;
    box-shadow: 0px 7px 5px 0px rgba(50, 50, 50, 0.75); }
    .main .top-navigation .menu .menu-item-has-children:hover .sub-menu li, .main .top-navigation .menu .menu-item-has-children:focus-within .sub-menu li {
      width: 15vw;
      background-color: white;
      padding: 2vh 5vw 2vh 1vw;
      text-decoration: none;
      display: block; }
      .main .top-navigation .menu .menu-item-has-children:hover .sub-menu li:hover, .main .top-navigation .menu .menu-item-has-children:focus-within .sub-menu li:hover {
        background: #D8D8AD; }
      .main .top-navigation .menu .menu-item-has-children:hover .sub-menu li a::after, .main .top-navigation .menu .menu-item-has-children:focus-within .sub-menu li a::after {
        content: ''; } }
@media (max-width: 1024px) {
  .main {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    padding: 2vh 0; }
    .main .logo {
      padding: 0 0 0 2vw; }
    .main .mobile-menu-call {
      display: flex;
      width: 10vw;
      order: 2; }
    .main .top-navigation {
      display: none;
      padding-right: 1vw;
      order: 3;
      width: 100%;
      z-index: 2;
      margin: 0;
      padding: 0;
      flex-direction: column; }
      .main .top-navigation .menu {
        display: flex;
        flex-direction: column;
        padding: 2vh 0 0; }
        .main .top-navigation .menu .menu-item {
          width: 100%; }
          .main .top-navigation .menu .menu-item a {
            display: flex;
            height: 5vh;
            justify-content: flex-start; }
            .main .top-navigation .menu .menu-item a:hover {
              background: unset; }
        .main .top-navigation .menu .menu-item-has-children .sub-menu {
          display: none;
          box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.2);
          height: 100%; }
          .main .top-navigation .menu .menu-item-has-children .sub-menu li {
            padding: 0;
            text-decoration: none;
            display: block; }
            .main .top-navigation .menu .menu-item-has-children .sub-menu li a {
              padding: 2vh 0vw 2vh 4vw; } }
.show {
  display: block !important; }

/*# sourceMappingURL=header.css.map */
