
    .entry-header{
        .entry-title{
            margin:0;
            padding: 4vh;
            font-size: 40px;
            color: white;
        }
    }

    .entry-image{
        display: flex;
        align-items:center;
        justify-content: center;
    }

    .entry-content{
        padding: 5vh 26vw;
    }
