.sec1 .sec1__wrapper {
  position: relative; }
  .sec1 .sec1__wrapper .carousel__left {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
    background: white;
    font-size: 2rem;
    opacity: 0.8;
    padding: 1rem;
    border-radius: 50%;
    width: 70px;
    cursor: pointer;
    z-index: 1; }
  .sec1 .sec1__wrapper .carousel__right {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
    background: white;
    font-size: 2rem;
    opacity: 0.8;
    padding: 1rem;
    border-radius: 50%;
    width: 70px;
    cursor: pointer;
    z-index: 1; }
  .sec1 .sec1__wrapper .carousel {
    overflow: hidden;
    height: 70vh; }
    .sec1 .sec1__wrapper .carousel__tracker {
      height: 70vh;
      display: flex;
      transition: .2s; }
      .sec1 .sec1__wrapper .carousel__tracker__post {
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end; }
        .sec1 .sec1__wrapper .carousel__tracker__post__title {
          display: flex;
          align-items: center;
          height: 100%; }
          .sec1 .sec1__wrapper .carousel__tracker__post__title h3 {
            background-color: rgba(0, 0, 0, 0.6);
            font-size: 2rem;
            padding: 2vh 2vw;
            color: white;
            border-radius: 12px;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 2px;
            margin: 0 10px; }
        .sec1 .sec1__wrapper .carousel__tracker__post__link {
          padding-bottom: 7vh; }
          .sec1 .sec1__wrapper .carousel__tracker__post__link a {
            background: white;
            padding: 2vh 6vw;
            font-size: 1.5rem;
            border-radius: 35px;
            text-transform: uppercase; }

@media (max-width: 1024px) {
  .sec1 .sec1__wrapper .carousel__tracker__post__title h3 {
    font-size: 1.5rem; }
  .sec1 .sec1__wrapper .carousel__tracker__post__link a {
    font-size: 1rem; } }
@media (max-width: 768px) {
  .sec1 .sec1__wrapper .left {
    display: none; }
  .sec1 .sec1__wrapper .right {
    display: none; }
  .sec1 .sec1__wrapper .carousel__tracker__post__title h3 {
    font-size: 1rem; }
  .sec1 .sec1__wrapper .carousel__tracker__post__link a {
    font-size: 1rem; } }
.sec2 {
  background: #F3DCD4; }
  .sec2 .row {
    margin-bottom: 0;
    padding-bottom: 6vh; }
  .sec2__title {
    text-transform: uppercase;
    margin: 0 auto;
    padding: 6vh 0 6vh; }
    .sec2__title h3 {
      margin: 0; }
  .sec2__afishas .row .col:first-child {
    width: 100%; }
    .sec2__afishas .row .col:first-child .card {
      max-width: 1366px;
      margin: .5rem auto 1rem; }
      .sec2__afishas .row .col:first-child .card .card-image {
        max-height: 100%;
        height: 500px; }
        .sec2__afishas .row .col:first-child .card .card-image img {
          height: 500px;
          object-fit: cover; }
  .sec2__afishas .row .card-image {
    max-height: 100%;
    height: 300px; }
    .sec2__afishas .row .card-image img {
      height: 300px;
      object-fit: cover; }

.sec3 {
  background: #e8eee8; }
  .sec3 .row {
    margin-bottom: 0;
    padding-bottom: 6vh; }
  .sec3__title {
    text-transform: uppercase;
    margin: 0 auto;
    padding: 6vh 0 6vh; }
    .sec3__title h3 {
      margin: 0; }
  .sec3__news .row .card-image {
    max-height: 100%;
    height: 400px;
    background-color: black; }
    .sec3__news .row .card-image img {
      height: 400px;
      object-fit: cover;
      opacity: 0.4;
      transition: opacity 0.4s, transform 0.4s; }
      .sec3__news .row .card-image img:hover {
        opacity: 0.7; }
    .sec3__news .row .card-image .card-date {
      color: #fff;
      position: absolute;
      top: 0px;
      left: 0;
      max-width: 100%;
      padding: 24px; }

/*# sourceMappingURL=style.css.map */
