.sec2 {
    background:#F3DCD4;
    .row{
        margin-bottom: 0;
        padding-bottom: 6vh;
    }

    &__title {
        text-transform: uppercase;
        margin: 0 auto;
        padding:6vh 0 6vh;
        
        h3{
            margin: 0;
        }
    }

    &__afishas {
        .row {
            .col:first-child {
                width: 100%;
                .card{
                    max-width: 1366px;
                    margin: .5rem auto 1rem;
                    .card-image {
                        max-height: 100%; // Also this should be 100%.
                        height: 500px; // corresponds to box height
        
                        img {
                            height: 500px;
                            object-fit: cover;
                        }
        
                        // corresponds to image height
                    }
                }
                
            }

            .card-image {
                max-height: 100%; // Also this should be 100%.
                height: 300px; // corresponds to box height

                img {
                    height: 300px;
                    object-fit: cover;
                }

                // corresponds to image height
            }
        }
    }
}